<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<h1>Reviews</h1>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item text-primary">
      <%= review.content %>
      <%= review.rating %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>
<p>
  <%= link_to "back", restaurants_path, class:"btn btn-primary"%>
</p>
